.summoners-container {
  list-style: none;
}

@media screen and (max-width: 39.9375em) {
  .summoners-container li {
    font-size: 12px;
  }
}

@media screen and (min-width: 40em) {
  .summoners-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .summoners-container li {
    margin-left: 4em;
  }
}

.champ-square {
  height: 43px;
  margin-right: 1.6em;
}


.summInfo {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: none;
}

.summInfo.slide {
  height: 20em;
  display: inherit;
}

.champLoading {
  height: 15em;
  margin-top: 2.5em;
}

.tier {
  height: 6em;
  margin: 4em 0 0 1em;
}

.rank {
  margin-left: 3.1em;
  font-weight: bold;
}
